@use "themes";
@use "layout/sidebar.scss";
@use "layout/modal.scss";
@use "layout/content.scss";
@use "abstracts/variables" as *;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100dvh;
    font-family: "Roboto Condensed", sans-serif;
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--surface-a0);
}





.theme--dark {
    #theme-switch {
        svg:first-child {
            opacity: 0;
        }

        svg:last-child {
            opacity: 1;

        }
    }
}

.toast-alert {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    bottom: 5.8rem;
    right: 0;
    z-index: 3;
    .alert {
        position: relative;
        min-width: auto;
        padding: $spacing-small;
        border-radius: $border-small;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-out, opacity 0.8s ease;
  

        &.alert-danger {

            background-color: #f09aa1;
        }

        &.alert-success {
            background-color: #92eca7;
        }

        &.show {
            transform: translateX(0);
            opacity: 1;
        }
    }
}


.card-add {
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
    padding: 0;
    min-width: 6rem;
    margin: $spacing-large;

    .card-add-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--surface-a10);
        border-radius: $border-small ;
        padding: $spacing-medium;

        .todo-add {
            width: 18rem;
            color: var(--secondary-a0);
            border: none;
            background-color: transparent;


        }

        .todo-add:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }

        .card-add-icon {
            position: relative;
            padding: $spacing-small;
            color: var(--primary-a10);
            background-color: var(--surface-a20);
            border-radius: $button-small ;
            border: none;

        }
    }
}

.checkbox-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.card-checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--surface-a30);
    border-radius: $border-small;
    cursor: pointer;

    &:hover {
        border-color: var(--primary-a20);
    }

}

.card-checkbox:checked {
    background: var(--primary-a0);
    border: none;
}

.card-header:has(.card-checkbox:checked)+.card-text,
.checkbox-wrapper:has(.card-checkbox:checked)+.card-title {
    text-decoration: line-through;
}

.card-checkbox:checked::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 7px;
    top: 3px;
}