@use "themes";
@use "layout/sidebar.scss";
@use "layout/modal.scss";
@use "layout/content.scss";
@use "abstracts/variables" as *;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100dvb;
    transition: background-color 200ms ease, color 200ms ease;
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--surface-a0);
}

#theme-switch {
    position: fixed;
    top: $spacing-small;
    right: $spacing-small;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    svg {
        fill: var(--secondary-a10);
        position: absolute;
        width: 24px;
        height: 24px;
        transition: opacity 200ms ease;
    }


    svg:first-child {
        opacity: 1;
    }

    svg:last-child {
        opacity: 0;
    }
}

.theme--dark {
    #theme-switch {
        svg:first-child {
            opacity: 0;
        }

        svg:last-child {
            opacity: 1;

        }
    }
}




.sidebar-bottom {
    width: 100%;
    margin-bottom: $spacing-large;

    #card-add {
        width: 100%;
        text-align: center;
        padding: $spacing-small;
        border-radius: $border-small;
        cursor: pointer;
        transition: background-color 0.2s ease;
        background: var(--primary-a0);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(47, 4, 4, 0.3);

        &:hover {
            background-color: var(--primary-a10);
        }

        .card-title {
            margin: $spacing-small;
            color: var(--secondary-a0);
        }
    }

}
