@use "sass:map";

$themes: (
  light: (primary-a0: #c12121,
    primary-a10: #cc4337,
    primary-a20: #d65e4d,
    primary-a30: #d1d0d0ab,
    secondary-a0: #1f1f1f,
    secondary-a10: #0a0a0a,
    surface-a0: #f7eded,
    surface-a10: #e2ebe1,
    surface-a20: #d1d8d0,
    surface-a30: #696969,
  ),
  dark: (primary-a0: #c12121,
    primary-a10: #cc4337,
    primary-a20: #d65e4d,
    primary-a30: #0501019c,
    secondary-a0: #edfce6,
    secondary-a10: #effce9,
    surface-a0: #121212,
    surface-a10: #292929,
    surface-a20: #3f3f3f,
    surface-a30: #777777,
  )
);


@mixin theme-variables($themes-map) {
  @each $theme-name, $theme-map in $themes-map {
    .theme--#{$theme-name} {
      @each $key, $value in $theme-map {
        --#{$key}: #{$value};
      }
    }
  }
}

:root {
  @each $k, $v in map.get($themes, light) {
    --#{$k}: #{$v};
  }
}

@include theme-variables($themes);