@use "../abstracts/variables" as *;

.content {
    position: relative;
    flex: 0 0 80%;
    max-width: 80%;
    background-image: url("../img/lof.jpg");
    background-size: cover;
}


.content-header {
    width: 100%;
    padding: $spacing-small;
    background-color: var(--surface-a10);
    border-bottom: 1px solid rgba(47, 4, 4, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;

    #todo-filter {
        width: 100%;
        padding: $spacing-small;
        border-radius: $border-small;
        border: 1px solid rgba(47, 4, 4, 0.3);
        background-color: transparent;
        color: var(--secondary-a0);

        &::placeholder {
            color: var(--secondary-a30);
        }
    }
}



.content-body {
    position: relative;
    height: auto;
    padding: $spacing-small;
    column-count: 3;
    column-gap: $spacing-small;

    .card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 2fr));
        grid-auto-rows: masonry;
        gap: $spacing-small;
        column-count: 2;
        column-gap: $spacing-small;

        .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            break-inside: avoid;
            width: 100%;
            min-height: 100px;
            background-color: var(--primary-a30);
            border-radius: $border-small;
            padding: $spacing-medium;
            transition: background-color 0.6s ease;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            word-break: break-word;

            .card-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0px;

                .card-title {
                    display: block;
                    width: 100%;
                    color: var(--primary-a10);
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 0px;
                }

                .card-edit {
                    display: block;
                    position: relative;
                    min-width: 1.5rem;
                    height: 1.5rem;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    font-size: $spacing-medium;
                    color: var(--surface-a30);

                    &:hover {
                        color: var(--primary-a20);
                    }
                }

                .card-delete {
                    position: relative;
                    display: block;
                    min-width: 1.5rem;
                    height: 1.5rem;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    font-size: $spacing-medium;
                    color: var(--surface-a30);

                    &:hover {
                        color: var(--primary-a20);
                    }
                }

            }

            .card-text {
                display: inline-block;
                color: var(--secondary-a0);
                font-size: 1rem;
                margin: 0px;
                padding: $spacing-small;

            }

        }

        .card-content:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
            transition: box-shadow 200ms ease, color 200ms ease;
        }


    }

    @media (min-width: 480px) {
        .content {
            column-count: 1;
        }
    }

    @media (min-width: 1024px) {
        .content {
            column-count: 1;
        }
    }

    @media (min-width: 1440px) {
        .content {
            column-count: 3;
        }
    }
}