@use "../abstracts/variables" as *;

.sidebar {
    flex: 0 0 20%;
    max-width: 20%;
    height: 100dvh;
    background-color: var(--surface-a10);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

}

.sidebar-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $spacing-small;        
    #sidebar-button {
        display: block;
        position: relative;
        height: 40px;
        width: 40px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        svg {
            fill: var(--primary-a0);
            stroke: var(--secondary-a0);
            width: $button-medium;
            height: $button-medium;
        }
    }

    #theme-switch {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        svg {
            fill: var(--secondary-a10);
            position: absolute;
            width: 24px;
            height: 24px;
            transition: opacity 200ms ease;
        }


        svg:first-child {
            opacity: 1;
        }

        svg:last-child {
            opacity: 0;
        }


    }

    .sidebar-time {
        width: 100%;
        padding: $spacing-medium;
        margin-top: $spacing-medium;
        
        position: relative;
        font-size: 3.0rem;
        font-weight: bold;
        margin-top: $spacing-large;
        margin-bottom: $spacing-large;
        color: var(--secondary-a0);
        text-align: center;

         #local-time-label {
            display: block;
            font-size: 1.1rem;
            font-weight: normal;
            margin-bottom: $spacing-small;
            color: var(--secondary-a10);
        }

        .sidebar-time-clock {
            display: block;
        }
    }
}

.category-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    //flex: 1;
    overflow-y: hidden;

    .category-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .category-item {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        padding: $spacing-small;

        &.active .category-btn {
            background-color: var(--surface-a20);
        }

        &.active::before {
            content: ' ';
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            bottom: 0;
            width: 0.25rem;
            height: 70%;
            background-color: var(--primary-a0);
            opacity: 1;
            transition: opacity 0.2s ease;
            border-radius: 0 $border-medium $border-medium 0;
            z-index: 3;
        }

        .category-btn {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: left;
            padding: $spacing-small;
            border-radius: $border-small;
            cursor: pointer;
            transition: background-color 0.2s ease;
            background: transparent;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(47, 4, 4, 0.3);

            &:hover {
                background-color: var(--primary-a10);
            }

            .card-title {
                margin: $spacing-small;
                color: var(--secondary-a0);
            }
        }
    }

    #category-add {
        width: $button-medium;
        height: $button-medium;
        margin: $spacing-medium;
        padding: 0;
        border: 0;
        cursor: pointer;
        background: transparent;
        color: blue;

        path {
            fill: var(--primary-a10);
            stroke: var(--secondary-a10);
        }
    }

}