:root {
  --primary-a0: #c12121;
  --primary-a10: #cc4337;
  --primary-a20: #d65e4d;
  --primary-a30: rgba(209, 208, 208, 0.6705882353);
  --secondary-a0: #1f1f1f;
  --secondary-a10: #0a0a0a;
  --surface-a0: #f7eded;
  --surface-a10: #e2ebe1;
  --surface-a20: #d1d8d0;
  --surface-a30: #696969;
}

.theme--light {
  --primary-a0: #c12121;
  --primary-a10: #cc4337;
  --primary-a20: #d65e4d;
  --primary-a30: rgba(209, 208, 208, 0.6705882353);
  --secondary-a0: #1f1f1f;
  --secondary-a10: #0a0a0a;
  --surface-a0: #f7eded;
  --surface-a10: #e2ebe1;
  --surface-a20: #d1d8d0;
  --surface-a30: #696969;
}

.theme--dark {
  --primary-a0: #c12121;
  --primary-a10: #cc4337;
  --primary-a20: #d65e4d;
  --primary-a30: rgba(5, 1, 1, 0.6117647059);
  --secondary-a0: #edfce6;
  --secondary-a10: #effce9;
  --surface-a0: #121212;
  --surface-a10: #292929;
  --surface-a20: #3f3f3f;
  --surface-a30: #777777;
}

.sidebar {
  flex: 0 0 20%;
  max-width: 20%;
  height: 100dvh;
  background-color: var(--surface-a10);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.sidebar-header #sidebar-button {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.sidebar-header #sidebar-button svg {
  fill: var(--primary-a0);
  stroke: var(--secondary-a0);
  width: 1.6rem;
  height: 1.6rem;
}
.sidebar-header #theme-switch {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.sidebar-header #theme-switch svg {
  fill: var(--secondary-a10);
  position: absolute;
  width: 24px;
  height: 24px;
  transition: opacity 200ms ease;
}
.sidebar-header #theme-switch svg:first-child {
  opacity: 1;
}
.sidebar-header #theme-switch svg:last-child {
  opacity: 0;
}
.sidebar-header .sidebar-time {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.9rem;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--secondary-a0);
  text-align: center;
}
.sidebar-header .sidebar-time #local-time-label {
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  color: var(--secondary-a10);
}
.sidebar-header .sidebar-time .sidebar-time-clock {
  display: block;
}

.category-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}
.category-nav .category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-nav .category-item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
}
.category-nav .category-item.active .category-btn {
  background-color: var(--surface-a20);
}
.category-nav .category-item.active::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  bottom: 0;
  width: 0.25rem;
  height: 70%;
  background-color: var(--primary-a0);
  opacity: 1;
  transition: opacity 0.2s ease;
  border-radius: 0 0.8rem 0.8rem 0;
  z-index: 3;
}
.category-nav .category-item .category-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(47, 4, 4, 0.3);
}
.category-nav .category-item .category-btn:hover {
  background-color: var(--primary-a10);
}
.category-nav .category-item .category-btn .card-title {
  margin: 0.5rem;
  color: var(--secondary-a0);
}
.category-nav #category-add {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.9rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  color: blue;
}
.category-nav #category-add path {
  fill: var(--primary-a10);
  stroke: var(--secondary-a10);
}

.model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  padding-right: 1.5rem;
  transition: visibility 0s, opacity 300ms ease;
  overflow-y: hidden;
}
.model .model-container {
  background-color: var(--surface-a10);
  padding: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(47, 4, 4, 0.3);
  width: 100%;
  max-width: 400px;
}
.model .model-container .model-title {
  margin: 0.5rem 0 0.9rem 0;
  color: var(--secondary-a0);
  font-size: 1.25rem;
  font-weight: bold;
}
.model .model-container .model-textarea {
  width: 100%;
  height: 150px;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(47, 4, 4, 0.3);
  resize: none;
}
.model .model-container .model-actions {
  display: flex;
  justify-content: flex-end;
}
.model .model-container .model-actions .model-cancel,
.model .model-container .model-actions .model-save {
  background-color: var(--primary-a0);
  color: var(--secondary-a0);
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
.model .model-container .model-actions .model-cancel:hover,
.model .model-container .model-actions .model-save:hover {
  background-color: var(--primary-a10);
}

@keyframes fadeUp {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}
.content {
  position: relative;
  flex: 0 0 80%;
  max-width: 80%;
  background-image: url("../img/lof.jpg");
  background-size: cover;
}

.content-header {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--surface-a10);
  border-bottom: 1px solid rgba(47, 4, 4, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 2;
}
.content-header #todo-filter {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(47, 4, 4, 0.3);
  background-color: transparent;
  color: var(--secondary-a0);
}
.content-header #todo-filter::placeholder {
  color: var(--secondary-a30);
}

.content-body {
  position: relative;
  height: auto;
  padding: 0.5rem;
  column-count: 3;
  column-gap: 0.5rem;
}
.content-body .card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 2fr));
  grid-auto-rows: masonry;
  gap: 0.5rem;
  column-count: 2;
  column-gap: 0.5rem;
}
.content-body .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  break-inside: avoid;
  width: 100%;
  min-height: 100px;
  background-color: var(--primary-a30);
  border-radius: 0.5rem;
  padding: 0.9rem;
  transition: background-color 0.6s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  word-break: break-word;
}
.content-body .card .card-content .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
}
.content-body .card .card-content .card-header .card-title {
  display: block;
  width: 100%;
  color: var(--primary-a10);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px;
}
.content-body .card .card-content .card-header .card-edit {
  display: block;
  position: relative;
  min-width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
  color: var(--surface-a30);
}
.content-body .card .card-content .card-header .card-edit:hover {
  color: var(--primary-a20);
}
.content-body .card .card-content .card-header .card-delete {
  position: relative;
  display: block;
  min-width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
  color: var(--surface-a30);
}
.content-body .card .card-content .card-header .card-delete:hover {
  color: var(--primary-a20);
}
.content-body .card .card-content .card-text {
  display: inline-block;
  color: var(--secondary-a0);
  font-size: 1rem;
  margin: 0px;
  padding: 0.5rem;
}
.content-body .card .card-content:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: box-shadow 200ms ease, color 200ms ease;
}
@media (min-width: 480px) {
  .content-body .content {
    column-count: 1;
  }
}
@media (min-width: 1024px) {
  .content-body .content {
    column-count: 1;
  }
}
@media (min-width: 1440px) {
  .content-body .content {
    column-count: 3;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100dvh;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--surface-a0);
}

.theme--dark #theme-switch svg:first-child {
  opacity: 0;
}
.theme--dark #theme-switch svg:last-child {
  opacity: 1;
}

.toast-alert {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 5.8rem;
  right: 0;
  z-index: 3;
}
.toast-alert .alert {
  position: relative;
  min-width: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out, opacity 0.8s ease;
}
.toast-alert .alert.alert-danger {
  background-color: #f09aa1;
}
.toast-alert .alert.alert-success {
  background-color: #92eca7;
}
.toast-alert .alert.show {
  transform: translateX(0);
  opacity: 1;
}

.card-add {
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 0;
  padding: 0;
  min-width: 6rem;
  margin: 1.5rem;
}
.card-add .card-add-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--surface-a10);
  border-radius: 0.5rem;
  padding: 0.9rem;
}
.card-add .card-add-wrapper .todo-add {
  width: 18rem;
  color: var(--secondary-a0);
  border: none;
  background-color: transparent;
}
.card-add .card-add-wrapper .todo-add:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.card-add .card-add-wrapper .card-add-icon {
  position: relative;
  padding: 0.5rem;
  color: var(--primary-a10);
  background-color: var(--surface-a20);
  border-radius: 0.4rem;
  border: none;
}

.checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.card-checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid var(--surface-a30);
  border-radius: 0.5rem;
  cursor: pointer;
}
.card-checkbox:hover {
  border-color: var(--primary-a20);
}

.card-checkbox:checked {
  background: var(--primary-a0);
  border: none;
}

.card-header:has(.card-checkbox:checked) + .card-text,
.checkbox-wrapper:has(.card-checkbox:checked) + .card-title {
  text-decoration: line-through;
}

.card-checkbox:checked::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  left: 7px;
  top: 3px;
}

/*# sourceMappingURL=main.css.map */
